mc
minio
conda
data/
.DS_Store
cwl/output/
nextflow/.nextflow.log*
nextflow/.nextflow/
nextflow/output/*
nextflow/nextflow
nextflow/work/*
foo.txt.gz
postgres.log
db/
elasticsearch-*.tar.gz

elasticsearch-*
elasticsearch-*/
es_data/
es_data/
es_logs/
es_pid
kibana.log
kibana-7.10.1*
cwl/output.json
console
console-linux-amd64
data*
